.shops--loading,
.shops--fetch-error {
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shops--fetch-error {
  background: var(--c-error-lightest);
  color: var(--c-error);
  font-size: 2rem;
  text-align: center;
}

.shops__listing {
  list-style: none;
  padding: 0;
  margin: 0;
}
