*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --c-accent: #4a90e2;
  --c-grey: #c4c4c4;
}

html {
  -webkit-text-size-adjust: 100%;
}
button {
  touch-action: manipulation;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* .App {
  text-align: center;
} */
