*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
  color: currentColor;
}

button {
  touch-action: manipulation;
}
